{% extends 'base.html.twig' %}

{% block title %}Actu - Cortez
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
		<div class="row my-4 justify-content-around">
			<div class="col-4">
				<img src="https://picsum.photos/300/200" class="" alt="Illustration_Actualité">
			</div>
			<div class="col-8">
				<a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo blanditiis, consequatur et tempora modi qui quis eligendi temporibus cumque totam eveniet voluptatibus ex ut aliquid. Suscipit dignissimos quae sunt! Laboriosam!</p>
			</div>
		</div>
	</div>
{% endblock %}
