{% extends "base.html.twig" %}

{% block title %}Restauration
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="text-center">Cartes</h1>

		<div class="row justify-content-center">

			<div class="card col-5 m-3">
				<h3 class="card-header bg-warning text-light">Menu "Déjeuner"</h3>
				<div class="card-body">
					<h5 class="card-title">
						Entrée | Plat | Dessert 57€
						<br>
						Entrée | Plat viande ou poisson | Dessert 49€
					</h5>
				</div>
				<div class="card-img">
					<img src="https://cdn.pixabay.com/photo/2017/01/22/19/12/pizza-2000600__480.jpg"class="w-100" style="max-height:30vh; object-fit:cover;" alt="">
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<h3>
							ENTRÉES
						</h3>
						<h5>
							« L’Oeuf »
						</h5>
						cuit nacré, pleurotes grises, jus de viande au Xérès et émulsion de pain grillé

						<h5>
							« La Carotte»
						</h5>
						sur l’idée d’une tartelette, kumquat et sésame noir</li>
					<li class="list-group-item">
						<h3>
							PLATS
						</h3>
						<h5>
							« Le Cabillaud »
						</h5>
						cuit nacré, poireaux et pommes de terre fondante, beurre blanc à la livèche

						<h5>
							« La Volaille »
						</h5>
						jaune fermière, salsifis laqué dans un jus au poivre long, mousseline de marron cardamome</li>
					<li class="list-group-item">
						<h3>
							FROMAGES
						</h3>
						« Le Fromage Travaillé »
						<h5></h5>
						« L’Assortiment de 3 fromages » de la Maison Jaurel</li>
					<li class="list-group-item">
						<h3>
							DESSERTS
						</h3>
						<h5>
							« La Poire »
						</h5>
						braisée, caramel aux cèpes, pesto et sorbet au cresson

						<h5>
							« La Pêche jaune »
						</h5>
						marinée au balsamique blanc, glace et mousse onctueuse à la fleur de sureau, jus de baie de sureau à l’huile d’olive

						<h5>
							« Le Chocolat »
						</h5>
						Sao Tomé 65% en textures de chez Nicolas Berger, orge malté torréfié, sorbet cacao à la bière ambrée, écume houblonné
					</li>
				</ul>
			</div>

			<div class="card col-5 m-3">
				<h3 class="card-header bg-warning text-light">Menu "Dîner"</h3>
					<h5 class="card-title m-3">
						Entrée | Plat | Dessert 57€
						<br>
						Entrée | Plat viande ou poisson | Dessert 49€
					</h5>
				<div class="card-img">
					<img src="https://cdn.pixabay.com/photo/2014/04/05/11/19/turkey-315079__480.jpg"class="w-100" style="max-height:30vh; object-fit:cover;" alt="">
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Le turbotin, barbue selon arrivage
						<br>

						Cuit meunière à la grenobloise, purée texturée au beurre noisette
						<br>

						168€</li>
					<li class="list-group-item">La volaille fermière
						<br>

						Cuite à la broche, jus comme une vinaigrette et pommes grenailles
						<br>

						98€</li>
					<li class="list-group-item">La côte de bœuf
						<br>

						Sauce béarnaise et pommes allumettes
						<br>

						240€</li>
				</ul>
			</div>

		</div>

	</div>
</div>{% endblock %}
