{% extends "base.html.twig" %}

{% block body %}

	<h1 class="text-center m-4">
		Conditions générales de vente
	</h1>

<div class="container my4">
	<ul class="list-unstyled">
		<li>
			Micro-entreprise House Hotel
			<br>
			TVA non applicable, art. 293 B du CGI <br> <br>
		</li>
		<li>
			Dirigeante : Dounia Vaillant
		</li>
		<li>
			1 avenue Montaigne
			<br>
			75008 Paris
            <br><br>
		</li>
		<li>
			N° de téléphone : 06 45 89 40 47
			<br>
			Courriel : contact@househotel.fr
            <br><br>
		</li>
		<li>
			SIRET : 834 608 XXX 00026
			<br>
			Code APE : 20XXZZ
		</li>
	</ul>


	<h4 class="m-4">
		Objet
	</h4>

	Les présentes conditions régissent les relations contractuelles entre la micro-entreprise House Hotel ayant son siège au 23 chemin du poteau 17230 LONGEVES et l'acheteur de chambres sur le site Internet https://www.househotel.fr/dénommé ci-dessous « le site Internet ».
		House Hotel se réserve le droit de modifier ses CGV à tout moment. Les CGV applicable sont celles en vigueur à la date de la commande par l'acheteur.

	<h4 class="m-4">
		Prix
	</h4>

	Les prix sont indiqués en euros hors-taxes (notés TTC, TVA non applicable, article 293 B du CGI) et hors frais de traitement et d'expédition. Les produits présentés sur « le site Internet » sont proposés à la vente pour la France métropolitaine.
		House Hotel se réserve le droit de modifier à tout moment ses tarifs et sans préavis. Le tarif applicable à l'acheteur reste celui en vigueur au moment de la commande.
		Les produits demeurent la propriété de House Hotel jusqu'au paiement complet du prix de leur expédition.

	<h4 class="m-4">
		Information sur les produits
	</h4>

	Conformément à l'article L111–1 du code de la consommation, le client potentiel doit pouvoir prendre connaissance des caractéristiques essentielles des produits avant la prise de commande définitive. Les caractéristiques des différents produits sont établies par House Hotel. Les produits proposés ne le sont que dans la limite des stocks disponibles.
		Les photographies présentées sont les plus fidèles possibles mais ne sont pas contractuelles. Les chambres House Hotel doive être conservé à l'abri de la lumière, de l'humidité et de la chaleur.
		
		Les chambres de House Hotel ne font pas toujours au gramme près le poids indiqué sur l'emballage. En effet, comme il est précisé, les chambres sont fabriqués selon la méthode de saponification à froid (SAF). Les chambres sont sans conservateur et contiennent principalement des huiles végétales et de l'eau.
		Les chambres sont coupés et mise en cure entre 4 à 6 semaines afin que la lessive de soude puisse disparaître à 100 % pour laisser place naturellement à la glycérine. Ce sont donc des produits qui au fil du temps vont perdre de leurs humidités et donc le poids d'origine ne sera plus le même. Le poids indiqué sur l'emballage de House Hotel est de 90 g. Ce n'est pas un poids net qui est le poids du produit sans emballage. 
		C'est pourquoi, le poids indiqué sur l'emballage peut varier du poids réel du produit. 
		
		Mais il faut savoir que plus un chambre a séché plus il va être nourrissant pour la peau et plus il va durer dans le temps.


	<h4 class="m-4">
		Commandes
	</h4>

	Vous pouvez passer commande :
		
		
		Sur « le site Internet »
		Toutes commandes figurant sur le site Internet entraîne l'acceptation des présentes CGV sans exception ni réserve. L'ensemble des données fournies et la confirmation enregistrée vaudront preuve de la transaction. La confirmation de commande vaut acceptation des quantités, produits et prix proposés à la vente et commandés. La confirmation de commande vaudra signature et acceptation des opérations effectuées. La validation finale de la commande et/ou la fourniture en ligne du numéro de carte bancaire vaut signature et acceptation expresse de toutes les opérations effectuées sur le site et vos preuves de la commande conformément aux dispositions de la loi du 13 mars 2000.
		House Hotel communiquera par courriel une confirmation de la commande enregistrée. La commande ne sera considérée comme définitive qu'après réception intégrale du règlement par House Hotel et envoi par House Hotel de la confirmation de commande enregistrée par courriel.
		
		
		Par téléphone au 06 62 36 40 47
		Du lundi au vendredi à partir de 18h00 et du samedi au dimanche de 9h00 à 18h00, il vous sera demandé une confirmation par courriel ou courrier.
		
		
		Par courrier ou courriel
		Dans ces deux cas, l'acheteur devra indiquer clairement les références, désignation et quantités souhaitées, ainsi que ses coordonnées complètes. House Hotel procédera alors à l'envoi d'une confirmation de commande récapitulative indiquant les frais de port, que l'acheteur devra retourner avec la mention « bon pour accord » et sa signature, et vaudra confirmation de commande, dans les mêmes conditions que celles énoncées au paragraphe « commande sur le site Internet ».
		En cas d'indisponibilité temporaire ou définitive d'un produit, House Hotel s'engage à en informer l'acheteur et se réserve le droit de lui proposer un produit de remplacement, ou d'annuler tout ou une partie de la commande.


	<h4 class="m-4">
		Paiement
	</h4>

	Le fait de valider votre commande implique pour l'acheteur l'obligation de payer le prix indiqué.
		
		Le règlement de vos achats s'effectue par :
		
		
		Par carte bancaire, House Hotel utilise une solution de paiement sécurisé conforme à la norme 3D secure, utilisant la technologie SSL (les informations transmises sont cryptées afin de ne pouvoir être récupérées). De plus, le numéro CB est saisi sur une page hébergée par la banque et n'est donc pas transmis au commerçant.

	<h4 class="m-4">
		Par PayPal (plateforme en ligne sécurisée)
	</h4>


	Par chèque ou virement bancaire (uniquement pour la France métropolitaine) les informations relatives à ces modes de paiement sont données à l'acheteur sur « le site Internet » lorsqu'il choisit son mode de paiement. C'est deux modes de paiement allongent le délai de livraison car la commande n'est expédiée que lorsque le compte de House Hotel est crédité du montant de la commande.


	<h4 class="m-4">
		Rétractation
	</h4>

	Conformément aux dispositions de l'article L.121–21 du code de la consommation,vous disposez d'un délai de rétractation de 14 jours à compter de la réception de vos produits pour exercer votre droit de rétractation sans avoir à justifier de motif ni à payer de pénalités. Pour des raisons d'hygiène et de protection de la santé, les retours sont à effectuer dans leur emballage d'origine. Dans ce cadre votre responsabilité est engagée. Tout dommage subi par le produit à cette occasion peut-être de nature à faire échec aux droits de rétractation. En cas d'exercice du droit de rétractation, House Hotel procédera au remboursement des sommes versées à l'exclusion des frais de transports initiaux dans un délai de 30 jours suivant la notification de votre demande par courrier ou courriel. En cas d'échange, les frais de port du nouvel envoi restent à la charge de l'acheteur.

	<h4 class="m-4">
		Disponibilité
	</h4>

	Nos produits sont proposés tant qu'ils sont visibles sur « le site Internet » et dans la limite des stocks disponibles.
		En cas d'indisponibilité de produit après passation de votre commande, nous vous en informerons par courriel. Votre commande sera automatiquement annulée et aucun délit bancaire ne sera effectué.

	<h4 class="m-4">
		Frais de port
	</h4>

	Tous les frais d'expédition, droits de quittance, droits de douane et tous autres droits sont à la charge de l'acheteur.
		Pour les expéditions hors de France métropolitaine, nous contacter pour un calcul préalable des frais de port.

	<h4 class="m-4">
		Expédition et modalités de transport
	</h4>

	L'expédition des produits se fait en général dans un délai de 72 heures ouvrées après la confirmation de commande. En tout état de cause, celui-ci n'excédera pas 7 jours ouvrés, sauf mention particulière qui sera signalée à l'acheteur avant la validation de sa commande et que celui-ci devra accepter.
		L'acheteur sera informé du départ du colis et recevra un numéro de suivi applicable. Pour la livraison en France métropolitaine celle-ci est effectuée par la poste en Colissimo (colis suivi, distribution sans signature) à l'adresse indiquée par l'acheteur au moment de sa commande. Pour les autres destinations, un mode de transport approprié sera choisi par House Hotel qui en informera l'acheteur.
		Un avis de passage sera déposé par le transporteur en cas d'impossibilité de remettre colis à son destinataire. En aucun cas, House Hotel ne sera être tenu responsable d'une éventuelle détérioration des produits du fait de leur retrait tardif auprès du transporteur.
		Les colis devant être représenté à la livraison suite à une erreur dans les renseignements fournis par l'acheteur, seront à la charge de l'acheteur.
		Les produits voyagent aux risques et périls du destinataire à compter du moment où ils ont quittés les locaux de House Hotel, même s'ils sont expédiés « franco » le destinataire doit vérifier l'état des produits au moment de la réception et faire éventuellement des réserves auprès du transporteur. En tout état de cause, en cas de dommage pendant le transport, House Hotel doit être informé par lettre recommandée avec AR dans les trois jours à compter de la livraison.
		House Hotel ne rembourse aucun colis qui aurait été dégradé pendant son acheminement, et ne pourra être tenu responsable de l'endommagement des produits du aux manipulations du colis pendant son transport.
		Les délais de livraison varient en fonction du lieu de livraison et du transporteur. Ils sont donnés à titre indicatif en fonction des informations fournies par le transporteur. Le retard de livraison ne pourra donner lieu à des dommages et intérêts, mais s'il dépasse 30 jours à compter de la commande, celle-ci pourra être annulée et l'acheteur remboursé.

	<h4 class="m-4">
		Garantie
	</h4>

	Tous nos produits bénéficient de la garantie légale de conformité et de la garantie de vices cachés, prévues par les articles 1641 et suivants du Code civil.
		En cas de non-conformité d'un produit vendu, il pourra être retourné, échangé ou remboursé. Toutes les réclamations, demandes d'échange de remboursement doivent s'effectuer par courrier ou courriel dans le délai de 7 jours à compter de la livraison. Les produits doivent nous être retournés dans l'état dans lequel l'acheteur les a reçus, dans leur emballage d'origine (boîtes). Les frais d'envoi vous seront remboursés sur la base du tarif facturé et les frais de retour vous seront remboursés sur présentation des justificatifs.

	<h4 class="m-4">
		Responsabilité
	</h4>

	House Hotel ne saurait être tenu pour responsable des dommages résultant d'une mauvaise utilisation du produit acheté. Il est rappelé que les chambres doivent être conservés à l'abri de la lumière, de la chaleur et de l'humidité. Les photographies illustrant les produits proposés sur le site Internet, n'entrent pas dans un champ contractuel. La production étend artisanale, le marbrage des chambres peut changer à chaque fabrication ainsi que les nuances de couleurs ce qui donne un caractère unique à chaque chambre. La responsabilité de House Hotel ne saurait être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques.

	<h4 class="m-4">
		Droit applicable en cas de litige
	</h4>

	Les présentes CGV sont soumis au droit français et aux dispositions du code de la consommation relative à la vente à distance en France.
		En cas de réclamation ou de litige, l'acheteur est invité à prendre contact avec House Hotel afin de trouver une solution amiable. À défaut d'accord amiable entre les deux parties, les tribunaux français seront les seuls compétents.

	<h4 class="m-4">
		Propriété intellectuelle
	</h4>

	Tous les éléments du Site Internet sont et restent la propriété intellectuelle exclusive de House Hotel. Nul n'est autorisé à reproduire, exploiter, rediffuser ou utiliser à quelque titre que ce soit, même partiellement des éléments du site qu'ils soient logiciels, visuels ou sonores. Tout lien simple ou hypertexte est strictement interdit sans un accord préalable écrit et exprès de House Hotel.

	<h4 class="m-4">
		Archivage preuve
	</h4>

	House Hotel archive les bons de commande et les factures sur un support fiable et durable constituant une copie fidèle conformément aux dispositions de l'article 1348 du Code civil. Les registres informatisés de House Hotel seront considérés par toutes les parties concernées comme preuve des communications, commandes, paiements et transactions intervenus entre les parties.

</div>

{% endblock %}
