{% extends "base.html.twig" %}

{% block title %}Spa
{% endblock %}

{% block body %}
	<h1 class="text-center">Venez tester notre spa !</h1>


	<div class="d-flex align-items-center justify-content-around p-3">
		<div class="flex-grow-1 p-3">
			<h5 class="text-center text-warning h1"></h5>
			<p>Spa option Détente: 10€ pour une durée de 30min.</p>
		</div>
		<div class="flex-shrink-0 w-50">
			<img src="https://cdn.pixabay.com/photo/2015/05/09/17/09/towel-759980__480.jpg" class="w-100 rounded" style="max-height:60vh; object-fit:cover;" alt="">
		</div>
	</div>

	<hr class="my-5">

	<div class="d-flex align-items-center justify-content-around p-3">
	<div class="flex-shrink-0 w-50">
		<img src="https://cdn.pixabay.com/photo/2016/06/16/08/47/flower-1460889__480.jpg" class="w-100 rounded" style="max-height:60vh; object-fit:cover;" alt="">
	</div>
	<div class="flex-grow-1 me-3 p-3">
		<h5 class="text-center text-warning h1"></h5>
		<p>Spa option Relaxant: 25€ pour une durée de 60min.</p>
	</div>
	</div>

	<hr class="my-5">

	<div class="d-flex align-items-center justify-content-around p-3">
		<div class="flex-grow-1 p-3">
			<h5 class="text-center text-warning h1"></h5>
			<p>Spa relaxant option Plaisir: 40€ pour une durée de 120min.</p>
		</div>
		<div class="flex-shrink-0 w-50">
			<img src="https://cdn.pixabay.com/photo/2016/08/22/16/23/massage-therapy-1612308__480.jpg" class="w-100 rounded" style="max-height:60vh; object-fit:cover;" alt="">
		</div>
	</div>
{% endblock %}
